<config>
  <!-- 导出数据设置 -->
  <DumpInfo home="d:/mysql_dump">
    <server  host="localhost" username="root" password="root" port="3306">
      <schema name="schema1">
        <procedures>
          <procedure>procedure1</procedure>
          <procedure>procedure2</procedure>
          <procedure>procedure3</procedure>
        </procedures>
        <functions>
          <function>function1</function>
          <function>function2</function>
          <function>function3</function>
        </functions>
      </schema>
    </server>
    <server  host="localhost" username="root" password="root" port="3306">
      <schema name="schema1">
        <procedures>
          <procedure>procedure1</procedure>
          <procedure>procedure2</procedure>
          <procedure>procedure3</procedure>
        </procedures>
        <functions>
          <function>function1</function>
          <function>function2</function>
          <function>function3</function>
        </functions>
      </schema>
      <schema name="schema2">
        <procedures>
          <procedure>procedure1</procedure>
          <procedure>procedure2</procedure>
          <procedure>procedure3</procedure>
        </procedures>
        <functions>
          <function>function1</function>
          <function>function2</function>
          <function>function3</function>
        </functions>
      </schema>
    </server>
  </DumpInfo>

  <!-- 导入数据设置 -->
  <ImportInfo>
    <from>D:\mysql_dump\localhost\schema1\20160428_115951</from>
    <to>
      <server  host="localhost" username="root" password="root" port="3306">
        <schema name="schema1">
          <procedures>
            <procedure>procedure1</procedure>
            <procedure>procedure2</procedure>
            <procedure>procedure3</procedure>
          </procedures>
          <functions>
            <function>function1</function>
            <function>function2</function>
            <function>function3</function>
          </functions>
        </schema>
      </server>
      <server  host="127.0.0.1" username="root" password="root" port="3306">
        <schema name="schema1">
          <procedures>
            <procedure>procedure1</procedure>
            <procedure>procedure2</procedure>
            <procedure>procedure3</procedure>
          </procedures>
          <functions>
            <function>function1</function>
            <function>function2</function>
            <function>function3</function>
          </functions>
        </schema>
      </server>
    </to>
  </ImportInfo>

</config>