<config>
  <!-- 导出数据设置 -->
  <DumpInfo home="d:/mysql_dump">
    <server  host="localhost1" username="root" password="root" port="3306">
      <schema name="schemaname1">
        <procedure>procedure1.sql</procedure>
        <procedure>procedure2.sql</procedure>
        <procedure>procedure3.sql</procedure>
      </schema>
    </server>
    <server  host="localhost2" username="root" password="root" port="3306">
      <schema name="schemaname2">
        <procedure>procedure1.sql</procedure>
        <procedure>procedure2.sql</procedure>
        <procedure>procedure3.sql</procedure>
      </schema>
      <schema name="schemaname3">
        <procedure>procedure1.sql</procedure>
        <procedure>procedure2.sql</procedure>
        <procedure>procedure3.sql</procedure>
      </schema>
    </server>
  </DumpInfo>

  <!-- 导入数据设置 -->
  <ImportInfo>
    <from>d:/mysql_dump</from>
    <to>
      <server  host="localhost1" username="root" password="root" port="3306">
        <schema name="schemaname1">
          <procedure>procedure1.sql</procedure>
          <procedure>procedure2.sql</procedure>
          <procedure>procedure3.sql</procedure>
        </schema>
      </server>
      <server  host="localhost2" username="root" password="root" port="3306">
        <schema name="schemaname2">
          <procedure>procedure1.sql</procedure>
          <procedure>procedure2.sql</procedure>
          <procedure>procedure3.sql</procedure>
        </schema>
        <schema name="schemaname3">
          <procedure>procedure1.sql</procedure>
          <procedure>procedure2.sql</procedure>
          <procedure>procedure3.sql</procedure>
        </schema>
      </server>
    </to>
  </ImportInfo>
</config>